@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bad+Script&family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Sora:wght@100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syncopate:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bad+Script&family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Sora:wght@100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syncopate:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 0px;
}

.logo-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-holder p {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins";
}

.logo {
  width: 50px;
  height: 50px;
}

.section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 70px;
}

.section-one-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-one-img {
  max-width: 600px;
  width: 100%;
}

.section-one-text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.section-one-title {
  font-size: 64px;
  text-transform: capitalize !important;
  margin-bottom: 20px;
  font-weight: 600;

  background-image: url("src/assets/svg-hub-105.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.highlight {
  text-transform: lowercase;
}

.section-one-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7;
  font-family: "Poppins";
}

.btn {
  max-width: 150px;
  width: 100%;
  padding: 12px 0px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: 1.5px;
  font-family: "Lato";
  font-weight: 600;
  cursor: pointer;
}

.section-one-btn {
  background-color: #3cb35a;
  color: #000;
}

.section-one-btn:hover {
  color: #fff;
}

/* SECTION TWO */
.section-two {
  background: linear-gradient(to right, #3ae374, #00cec9);
}

.section-two-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0px;
}

.section-two-text-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 420px;
  height: 100%;
  max-width: 450px;
  width: 100%;
}

.section-two-title {
  text-transform: capitalize;
  font-size: 58px;
  font-weight: 600;

  background-image: url("src/assets/svg-hub-105 (2).svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-two-text {
  font-family: "Poppins";
  line-height: 1.7;
  font-weight: 600;
}

.section-two-img {
  max-width: 650px;
  width: 100%;
}

/* SECTION THREE */
.section-three {
  padding: 70px 0px;
}

.section-three-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.section-three-text-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section-three-title {
  font-size: 58px;
  text-transform: capitalize;
}

.section-three-text {
  max-width: 600px;
  width: 100%;
  font-family: "Poppins";
  font-weight: 600;
}

.section-three-card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.section-three-card {
  max-width: 380px;
  width: 100%;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px 0px;
}

.section-three-card-width-holder {
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section-three-card-text {
  font-family: "Poppins";
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 30px;
}

.section-three-card-img {
  width: 100%;
  border-radius: 10px;
}

/* SECTION FOUR */
.section-four {
  background-color: #3cb35a;
  padding: 70px 0px;
}

.section-four-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.section-four-title {
  font-size: 58px;
}

.marker {
  background-image: url("src/assets/svg-hub-105 (2).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-four-title span {
  text-transform: capitalize;
}

.section-four-card-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section-four-card {
  background-color: #f0d3f7;
  border-radius: 20px;
  max-width: 380px;
  width: 100%;
  padding: 20px 0px;
}

.section-four-card-width-holder {
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-four-card-img {
  max-width: 90px;
  width: 100%;
  align-self: flex-start;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 90px;
  object-fit: cover;
}

.section-four-card-text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}

.section-four-card-text {
  font-family: "Poppins";
  line-height: 1.7;
}

.info {
  padding-bottom: 10px;
  font-family: "Poppins";
}

.name {
  font-weight: 600;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .section-one {
    width: 95%;
    margin: 0px auto;
  }

  .section-two-holder {
    width: 95%;
    margin: 0px auto;
  }

  .section-three-holder {
    width: 95%;
    margin: 0px auto;
  }

  .section-four-holder {
    width: 95%;
    margin: 0px auto;
  }

  .section-one-img {
    max-width: 450px;
  }

  .section-two-img {
    max-width: 550px;
  }

  .section-one-title {
    font-size: 54px;
  }

  .section-two-title {
    font-size: 48px;
    max-width: 400px;
  }

  .section-one-text {
    font-size: 16px;
  }

  .section-two-text {
    font-size: 16px;
  }

  .section-one-btn {
    font-size: 14px;
  }

  .section-four-card-text {
    font-size: 15px;
  }

  .info {
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .section-one-img {
    max-width: 400px;
  }

  .section-two-img {
    max-width: 450px;
  }

  .section-one-text-holder {
    max-width: 400px;
  }

  .section-two-text-holder {
    max-width: 400px;
    min-height: 350px;
  }

  .section-one-text {
    font-size: 15px;
  }

  .section-two-text {
    font-size: 15px;
  }

  .section-three-title {
    font-size: 48px;
  }

  .section-four-title {
    font-size: 48px;
  }

  .section-three-text {
    font-size: 15px;
    max-width: 450px;
  }

  .section-four-card-holder {
    flex-direction: column;
  }

  .section-four-card {
    max-width: 1000px;
  }

  .section-four-card-width-holder {
    flex-direction: row;
    gap: 20px;
    width: 95%;
  }

  .section-four-card-img {
    margin-bottom: 0;
    height: 100%;
  }

  .info {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 850px) {
  .section-one-img {
    max-width: 350px;
  }

  .section-two-img {
    max-width: 400px;
  }

  .section-one-text-holder {
    max-width: 350px;
  }

  .section-two-text-holder {
    max-width: 350px;
    min-height: 320px;
  }

  .section-one-title {
    font-size: 50px;
  }

  .section-two-title {
    font-size: 42px;
  }

  .section-one-text {
    font-size: 14px;
  }

  .section-two-text {
    font-size: 14px;
  }

  .section-one-btn {
    max-width: 130px;
  }

  .section-three-text {
    font-size: 14px;
    max-width: 400px;
  }

  .section-three-card-holder {
    flex-direction: column;
  }

  .section-three-card {
    max-width: 850px;
    width: 100%;
  }

  .section-three-card-width-holder {
    flex-direction: row;
    width: 95%;
  }

  .section-three-card-img {
    max-width: 300px;
    width: 100%;
  }

  .section-four-card-text {
    font-size: 14px;
  }

  .info {
    font-size: 14px;
  }
}

@media screen and (max-width: 760px) {
  .logo-holder p {
    font-size: 20px;
  }

  .section-one-holder {
    flex-direction: column-reverse;
  }

  .section-one-text-holder {
    max-width: 750px;
  }

  .section-two-text-holder {
    max-width: 750px;
    min-height: 300px;
  }

  .section-three-text-holder {
    flex-direction: column;
    gap: 20px;
  }

  .section-one-title {
    font-size: 58px;
    max-width: 400px;
  }

  .section-two-title {
    font-size: 58px;
  }

  .section-three-title {
    font-size: 58px;
    align-self: flex-start;
  }

  .section-four-title {
    font-size: 58px;
  }

  .section-one-text {
    font-size: 16px;
  }

  .section-two-text {
    font-size: 16px;
  }

  .section-three-text {
    font-size: 16px;
    align-self: flex-start;
    max-width: 750px;
  }

  .section-one-btn {
    max-width: 150px;
    font-size: 16px;
  }

  .section-one-img {
    max-width: 500px;
  }

  .section-two-img {
    max-width: 550px;
  }

  .section-two-holder {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .section-three-card-width-holder {
    flex-direction: column;
    width: 90%;
  }

  .section-three-card-img {
    max-width: 600px;
  }

  .section-one-title {
    font-size: 50px;
  }

  .section-two-title {
    font-size: 50px;
  }

  .section-three-title {
    font-size: 50px;
  }

  .section-four-title {
    font-size: 50px;
  }

  .section-four-card-width-holder {
    flex-direction: column;
    width: 90%;
  }

  .section-four-card-img {
    height: 90px;
  }
}
